# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\soft\IntelliJ IDEA 2020.2.2\PrSobes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
